*{background-color: aquamarine;}

h1 {font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size:x-large;
text-align: center;
font-weight: 700;}
h1:hover{color:crimson;}

.firstSection{text-align: left;
border: 2px solid blue;
border-radius: 30px;
display:inline-table ;}

.gridHeading{text-align: center;
font-size: xx-large ;}
.gridHeading:hover{color: deeppink;}


.grid-container{display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto;
border: 2px solid black;
text-align: center;
left: -400px;}


.left{float: left;
text-align: left;
border: 2px solid black;}

.right{float: right;
text-align: right;
border: 2px solid black;}

.links{text-align: center ;
border: 3px solid rgb(237, 7, 214);
border-radius: 90%;}


.fontSize{font-size: large}
.colour{color: rgb(97, 15, 203);}

img{width: 700px;
    height: 700px;
    border-radius: 50%;
    border: 10px solid salmon;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


